<form class="file-table">
  <div class="file-table-menu">
    <label>
      <Input
        @type="checkbox"
        @checked={{this.allSelected}}
        {{did-insert (action this.setIndeterminateCheckbox)}}
        {{on "input" this.updateSelectAll}}
      />
      {{#if selectedCount}}
        Selected {{selectedCount}}
      {{else}}
        None Selected
      {{/if}}
    </label>
    <button type="button" class="text-button" disabled={{lt selectedCount 1}} {{on "click" this.alertFilePaths}}>
      <span class="icon-download"></span> Download
    </button>
  </div>
  <div class="file-table-content">
    <div class="file-table-header hide-only-mobile">
      <span class="file-table-checkbox"></span>
      <span class="file-table-name">Name</span>
      <span class="file-table-device">Device</span>
      <span class="file-table-path">Path</span>
      <span class="file-table-status">Status</span>
    </div>
    <div class="file-table-body">
      {{#each @files as |file index|}}
        <label class="file-table-row file-checked-{{get checkboxes (concat "file" index ".checked")}}">
          <span class="file-table-checkbox">
            <Input
              @type="checkbox"
              @name="file-{{index}}"
              @checked={{get checkboxes (concat "file" index ".checked")}}
              @disabled={{not-eq file.status "available"}}
              {{on "input" (fn this.updateIndeterminateCheckbox index)}}
            />
          </span>
          <span class="file-table-name" id="name-{{index}}">
            <span class="show-only-mobile">Name</span>
            {{file.name}}
          </span>
          <span class="file-table-device" id="device-{{index}}">
            <span class="show-only-mobile">Device</span>
            {{file.device}}
          </span>
          <span class="file-table-path" id="path-{{index}}">
            <span class="show-only-mobile">Path:</span>
            {{file.path}}
          </span>
          <span class="file-table-status" id="status-{{index}}">
            <span class="show-only-mobile">Status:</span>
            <span class="file-table-status-dot {{file.status}}"></span>
            {{file.status}}
          </span>
        </label>
      {{/each}}
    </div>
  </div>
</form>